mat-dialog-content {
  min-width: 35rem;
}

.header {
  position: relative;
  h1 {
    margin-bottom: 0;
  }
  button {
    position: absolute;
    right: -1rem;
    top: -0.5rem;
  }
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

mat-dialog-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.form {
  margin-top: 1rem;
  display: grid;
  grid-gap: 0.5rem 1.5rem;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'given-name family-name'
    'date-of-birth item-num';
}

mat-form-field:nth-of-type(1) {
  grid-area: given-name;
}

mat-form-field:nth-of-type(2) {
  grid-area: family-name;
}

mat-form-field:nth-of-type(3) {
  grid-area: date-of-birth;
}

mat-form-field:nth-of-type(4) {
  grid-area: item-num;
}
