<div class="header">
  <h1 mat-dialog-title>Add / Edit User</h1>
  <button type="button" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <span class="mat-subheading-1">Enter the information below and click Save & Close to finish.</span>
</div>
<mat-dialog-content class="mat-typography">
  <mat-divider></mat-divider>
  <form class="form" novalidate [formGroup]="form">
    <mat-form-field>
      <input placeholder="Given Name" formControlName="givenName" matInput required cdkFocusInitial />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Family Name" formControlName="familyName" matInput required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Date of Birth" [matDatepicker]="dobPicker" formControlName="dateOfBirth" matInput required />
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input type="number" min="0" placeholder="#Items" formControlName="itemNum" matInput required />
      <mat-hint>Number of Items (whatever it means :-))</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button type="submit" mat-flat-button color="primary" (click)="saveAndClose()" [disabled]="!form.valid">Save & Close</button>
</mat-dialog-actions>
