<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <img
        class="logo"
        src="https://explorance.com/wp-content/uploads/explorance/explorance-logo-white.png"
        alt="Explorance"
        title="Explorance Logo"
      />
    </mat-toolbar>
    <main class="main">
      <app-user-list></app-user-list>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
