<div class="user-grid-wrapper">
  <div class="header">
    <h2 class="title">Users</h2>
    <button type="button" mat-icon-button matTooltip="Add New User" (click)="openAddUserModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-table [dataSource]="users | async">
    <ng-container matColumnDef="givenName">
      <mat-header-cell *matHeaderCellDef>Given Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.givenName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="familyName">
      <mat-header-cell *matHeaderCellDef>Family Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.familyName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.dateOfBirth | date: 'MMMM dd, yyyy' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="itemNum">
      <mat-header-cell *matHeaderCellDef>#Items</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.itemNum }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button type="button" mat-stroked-button color="warn" (click)="deleteUser(element)">Delete</button>
        <button type="button" mat-flat-button color="primary" (click)="editUserModal(element)">Edit</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
