$bgColor: white;
$textColorMediumEmphasis: rgba(0, 0, 0, 0.6);
$errorColor: red;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.sidenav-content,
.main {
  background-color: $bgColor;
}

h1,
h2,
button,
.mat-stroked-button,
.mat-raised-button,
.mat-button {
  text-transform: uppercase;
}

.mat-subheading-1 {
  color: $textColorMediumEmphasis;
}

mat-divider.mat-divider {
  border-top-width: 3px;
}

.mat-form-field,
.mat-cell {
  font-weight: 500;
}

.mat-form-field-suffix {
  .mat-icon {
    color: $textColorMediumEmphasis;
  }
}

.error {
  color: $errorColor;
}
